.gradient-custom-2 {
    background-color: #f8e9cc !important;
    /* fallback for old browsers
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)) */ 
    }

.profile__thumbnail{
    width: 150px;
    height: 150px;
}

.img-thumbnail{
    margin-top: 50px;
    margin-left: 20px;
}

.plain__btn{
    margin-bottom: 20px;
    width: 20%;
    height: 50px;

}

.ant-btn{
    font-size:50px;
}

.ant-btn:hover, .ant-btn:active:hover, .ant-btn:focus:hover{
    color: #ba9d79 !important;
    border: #ba9d79 !important;
    align-self: right;
}